<article class="article">
  <h2><%= @article.title %>（<%= @article.created_at.strftime("%Y/%m/%d") %>）</h2>

  <% if user_signed_in? %>
    <div class="btn-actions">
      <%= btn_xs_edit(edit_article_path(@article)) %>
      <%= btn_xs_delete(@article) %>
    </div>
  <% end %>

  <%= image_tag(@article.image_url, alt: @article.title, class: 'article-img') if @article.image.present? %>
  <p><%= @article.content.html_safe %></p>
</article>
