<article class="news">
  <h2><%= @article.title %>（<%= @article.created_at.strftime("%Y/%m/%d") %>）</h2>

  <div class="btn-actions">
    <%= btn_xs_edit(edit_article_path(@article)) %>
    <%= btn_xs_delete(@article) %>
  </div>

  <p><%= @article.content.html_safe %></p>
</article>
