<div class="row">
  <div class="col-md-4 hidden-sm">
    <ul class="sns-buttons">
      <li>
        <%= link_to Settings.links.nitac.facebook.url, { target: '_blank' } do %>
          <button class="btn btn-facebook">
            <i class="fa fa-facebook-official"></i> 公式<%= Settings.links.nitac.facebook.service %>
          </button>
        <% end %>
      </li>
      <li>
        <%= link_to Settings.links.nitac.twitter.url, { target: '_blank' } do %>
          <button class="btn btn-twitter">
            <i class="fa fa-twitter"></i> 公式<%= Settings.links.nitac.twitter.service %>
          </button>
        <% end %>
      </li>
      <li>
        <%= link_to Settings.links.nitac.blog.url, { target: '_blank' } do %>
          <button class="btn btn-blog">
            <i class="fa fa-pencil-square-o"></i> 公式<%= Settings.links.nitac.blog.service %>
          </button>
        <% end %>
      </li>
      <li>
        <a href="/links.html">
          <button class="btn btn-blog">
            <i class="fa fa-globe"></i> リンク
          </button>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-8 col-sm-12">
    <div class="news">
      <% @articles.take(2).each do |article| %>
        <article>
          <h3><%= article.title %><small>（<%= article.created_at.strftime("%Y.%m.%d") %>）</small></h3>
          <div class="btn-actions">
            <%= btn_xs_show(article_path(article)) %>
            <%= btn_xs_delete(article) %>
          </div>
          <%= truncate(article.content, omission: '...', length: 300) %>
          <%= link_to '続きを読む', article_url(article) %>
        </article>
        <hr>
      <% end %>
    </div>

    <div class="backnumbers">
      <h3>バックナンバー</h3>
      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= link_to article_url(article) do %>
              <%= article.created_at.strftime("%Y.%m.%d") %> <%= article.title %>
              <div class="btn-actions">
                <%= btn_xs_edit(edit_article_path(article)) %>
                <%= btn_xs_delete(article) %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="sns-buttons-sm visible-sm col-sm-12 text-center">
    <%= link_to Settings.links.nitac.facebook.url, { target: '_blank' } do %>
      <button class="btn btn-facebook">
        <i class="fa fa-facebook-official fa-3x"></i>
      </button>
    <% end %>
    <%= link_to Settings.links.nitac.twitter.url, { target: '_blank' } do %>
      <button class="btn btn-twitter fa-3x">
        <i class="fa fa-twitter"></i>
      </button>
    <% end %>
    <%= link_to Settings.links.nitac.blog.url, { target: '_blank' } do %>
      <button class="btn btn-blog fa-3x">
        <i class="fa fa-pencil-square-o"></i>
      </button>
    <% end %>
    <a href="/links.html">
      <button class="btn btn-blog">
        <i class="fa fa-globe fa-3x"></i>
      </button>
    </a>
  </div>
