<h2>リンク</h2>

<section>
  <h3>高等専門学校</h3>

  <% Settings.links.schools.each_slice(2).to_a.each do |threeschools| %>
    <ul class="links row">
      <% threeschools.each do |school| %>
        <li class="col-md-6">
          <%= link_to school.url, class: 'links', target: '_blank' do %>
            <div class="card link-card">
              <%= image_tag school.img, class: 'link-img' %>
              <%= school.name %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<section>
  <h3>学生会・学友会</h3>
  <% Settings.links.associations.each_slice(2).to_a.each do |threeassociations| %>
    <ul class="links row">
      <% threeassociations.each do |association| %>
        <li class="col-md-6">
          <%= link_to association.url, class: 'links', target: '_blank' do %>
            <div class="card link-card">
              <%= image_tag association.img, class: 'link-img' %>
              <%= association.name %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
