<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="title" content="明石高専 学生会執行部 公式ページ">
    <meta name="author" content="明石高専 学生会執行部">
    <meta name="description" content="明石高専 学生会執行部の公式ページです。活動報告などを載せていきます。">
    <meta name="keywords" content="明石高専, NITAC, ANCT, 学生会, 執行部">
    <meta property="og:type" content="website">
    <meta property="og:title" content="明石高専 学生会執行部 公式ページ">
    <meta property="og:description" content="明石高専 学生会執行部の公式ページです。活動報告などを載せていきます。">
    <meta property="og:image" content="">
    <meta property="og:url" content="http://www.akashi.ac.jp/contents/Gakusei/Gakuseikai/">
    <meta property="og:site_name" content="明石高専 学生会執行部 公式ページ">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:admins" content="">
    <meta property="fb:app_id" content="">
    <meta content="summary" name="twitter:card">
    <meta content="@yamasy1549" name="twitter:site">
    <%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>明石高専 学生会執行部 | <%#= current_page.data.title || nil %></title>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_url, class: 'visible-lg' do %>
          <%= image_tag 'logo.png', alt: '明石高専 学生会ロゴ', class: 'logo' %>
          明石高専 学生会執行部
        <% end %>
      </h1>

      <% if user_signed_in? %>
        <div class="btn-actions">
          <%= current_user.email %>
          <%= btn_new(new_article_path) %>
          <%= btn_index(articles_path) %>
          <%= link_to 'ログアウト', destroy_user_session_url, method: :delete %>
        </div>
      <% end %>
    </header>

    <nav>
      <ul>
        <li class="<%= 'now' if params[:action] == 'index' %>">
          <%= link_to '新着情報', root_url %>
        </li>
        <li class="<%= 'now' if params[:action] == 'prospective' %>">
          <%= link_to '中学生の方へ', prospective_url %>
        </li>
        <li class="<%= 'now' if params[:action] == 'actimes' %>">
          <%= link_to 'ACTimes', actimes_url %>
        </li>
        <li class="<%= 'now' if params[:action] == 'clubs' %>">
          <%= link_to '部活動', clubs_url %>
        </li>
      </ul>
    </nav>

    <% if params[:action] == 'index' %>
      <div class="main-img">
        <%= image_tag 'top.png', alt: 'トップ画像' %>
      </div>
    <% end %>

    <main>
      <% if user_signed_in? %>
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      <% end %>

      <%= yield %>
    </main>

    <% if user_signed_in? %>
      <div class="user-btn-actions-sm btn-actions">
        <%= current_user.email %>
        <br>
        <%= btn_new(new_article_path) %>
        <%= btn_index(articles_path) %>
        <%= link_to 'ログアウト', destroy_user_session_url, method: :delete %>
      </div>
    <% end %>

    <footer>
      <p>
        <%= link_to Settings.links.nitac.github.url, { target: '_blank' } do %>
          <i class="fa fa-github"></i>
        <% end %>
        2015 - designed by <%= link_to 'yamasy', 'http://yamasy.info', { target: '_blank' } %>
      </p>
    </footer>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= stylesheet_link_tag 'application', media: 'only screen and (min-width: 62em)' %>
    <%= stylesheet_link_tag 'application_tablet', media: 'only screen and (min-width: 34em) and (max-width: 62em)' %>
    <%= stylesheet_link_tag 'application_smartphone', media: 'only screen and (max-width: 34em)' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
